.about-us-page nav li {
  padding: var(--padding-xs) var(--padding-sm);
  margin: .5em 0px;
}

.about-us-page nav li:hover {
  color: #ffffff;
  background: var(--some-green);
}

.about-us-page .navbar a:hover {
  text-decoration: none;
}

.about-us-page section {
  padding-top: 1.2em;
  padding-bottom: 2em;
}

.about-us-page section h2 {
  margin-bottom: 1.5em;
}

