:root {
  --padding-sm: 8px;
  --padding-md: 16px;
  --padding-lg: 32px;
  --some-blue: #234DD4;
  --header-height: calc(60px + calc(2 * var(--padding-md)));
}

body {
  margin-right:auto !important;
  margin-left: auto !important;
  max-width: 1800px;
}

.app-header {
  z-index: 10;
}

.app-spinner {
  z-index: 11;
}

.text--capitalize {
  text-transform: capitalize;
}

.text--uppercase {
  text-transform: uppercase;
}

.text--align-center {
  text-align: center;
}

.text--bold {
  font-weight: 600;
}

.flex-column {
  flex-direction: column;
}

.js-space-between {
  justify-content: space-between;
}

.js-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.pos-sticky {
  position: sticky;
}

.pos-fixed {
  position: fixed;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.d-flex {
  display: flex;
}

.d-inline-block {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .md-no-display {
    display: none;
  }
}